@import "components/Chat/chat.css";
@import "components/Login/login.css";
@import "components/Header/header.css";

.App {
    text-align: center;
}

.App-link {
    color: #61dafb;
}

body {
    background-color: #282c34;
}

input {
    font-size: 1em;
    border-radius: 8px;
    padding: 6px;
}

input[type="text"], input[type="email"], input[type="password"] {
    height: 1.5em;
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

hr.solid {
    border-top: 1px solid lightgrey;
    border-bottom: none;
}


.form-submit {
    margin-top: 12px;
    margin-bottom: 6px;
    height: 2.25em;
    width: 260px;
    color: white;
    background-color: #faa01b;
    font-weight: bold;
    border: 1px solid #ea950e;
}

.form-submit:hover {
    background-color: #dc8900;
    cursor: pointer;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-input {
    margin-top: 12px;
}

.form-text {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}
